.custom-logo-text {
  font-size: 1.4rem;
  font-weight: bolder;
  background: linear-gradient(45deg, #fb3cad, #c973f5, #00e5e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}
